<!DOCTYPE html>
<html lang="en">
<head>
    <!-- https://v3.bootcss.com/css/ -->
    <!-- https://www.jsdelivr.com/ -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/> 
    <title>工具集合</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
</head>
<body>

<!-- https://blog.csdn.net/lishuai_it_trip/article/details/97614556 -->
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid"> 
        <div class="navbar-header">
            <a class="navbar-brand" href="#">工具集合</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#boxs">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="boxs">
            <ul class="nav navbar-nav">
                <li><a href="https://xingtingyang.com/">博客</a></li>
                <li class="active"><a href="https://xingtingyang.com/ifactor.html">影响因子查询</a></li>
                <li><a href="https://xingtingyang.com/tools.html">溶液配制</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid" id="app">
    <div class="form-group">
        <label for="words" class="col-sm-1 col-xs-3 form-label">搜索词</label>
        <div class="input-group">
            <input type="text" class="form-control" id="words" v-model="words" v-on:keyup.enter="search">
            <div class="input-group-btn">
                <button type="submit" class="btn btn-primary" v-on:click="search">计算</button>
            </div>
        </div>
    </div>

    <p v-if="errors.length">
        <b>请校正以下错误:</b>
        <ul>
          <li v-for="error in errors">{{ error }}</li>
        </ul>
    </p>

    <vue-simple-spinner size="large" message="加载中..." v-if="loading"></vue-simple-spinner>

    <!-- 选项4的结果 -->
    <table class="table table-striped table-bordered" v-if="jls.length">
        <thead class="thead-light">
            <tr>
                <td scope="col">年份</td>
                <td scope="col">杂志名称</td>
                <td scope="col">影响因子</td>
            </tr>
        </thead>
        <tbody>
            <tr v-for="jl in jls" scope="row">
                <td>{{ jl.Year }}</td>
                <td>{{ jl.Title }}</td>
                <td>{{ jl.If }}</td>
            </tr>
        </tbody>
    </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1/dist/vue-resource.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-simple-spinner@1.2.10/dist/vue-simple-spinner.min.js"></script>
<script>
    var vm = new Vue({
        el:'#app',
        data: {
            words:'',
            jls: [],
            errors: [],
            loading:false
        },
        methods:{
            search:function(){
                this.errors = [];
                this.jls = [];
                this.loading = true;

                if(!this.words){
                    this.errors.push('搜索词不可以为空！');
                    return;
                }
                var ewords = encodeURI(this.words);
                this.$http.get('https://api.xingtingyang.com:5002/query/'+ewords).then(function(res){
                    var content = res.body;
                    if(content.status == 'error'){
                        this.errors.push(content.msg);
                    }else{
                        this.jls = content.data;
                    }
                }, function(){
                    console.log('请求失败！');
                }).finally(function(){
                    this.loading = false;
                });
            }
        }
    });
</script>

</body>
</html>
