<!DOCTYPE html>
<html lang="en">
<head>
    <!-- https://v3.bootcss.com/css/ -->
    <!-- https://www.jsdelivr.com/ -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/> 
    <title>工具集合 - 溶液配制</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.12.2/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue-select@3.10.3/dist/vue-select.css">
    <style>
    .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
        width:70px;
    }
    </style>
</head>
<body>

<!-- https://blog.csdn.net/lishuai_it_trip/article/details/97614556 -->
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid"> 
        <div class="navbar-header">
            <a class="navbar-brand" href="#">工具集合</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#boxs">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="boxs">
            <ul class="nav navbar-nav">
                <li><a href="https://xingtingyang.com/">博客</a></li>
                <li><a href="https://xingtingyang.com/ifactor.html">影响因子查询</a></li>
                <li class="active"><a href="https://xingtingyang.com/tools.html">溶液配制</a></li>
            </ul>
        </div>
    </div>
</nav>

 <div class="container-fluid" id="app">
    <blockquote>
        如需临时计算材料库中未包含的物质，请直接输入该物质的分子质量。
    </blockquote>

    <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" v-model="r_status" checked>
          根据溶质的质量分数和浓度，计算配置一定体积的溶液所需的溶质质量；
        </label>
    </div>

    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" v-model="r_status">
            根据溶质的质量分数，质量以及所需的浓度，得到需要加入的水的体积，<span style="color:red;">常用于配制氯金酸母液</span>；
        </label>
    </div>

    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" v-model="r_status">
            根据密度，百分比浓度（质量），质量分数计算摩尔浓度，<span style="color:red;">可用于浓硝酸、浓硫酸的摩尔浓度计算</span>；
        </label>
    </div>

    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4" v-model="r_status">
            根据质量百分比、质量分数计算摩尔浓度，<span style="color:red;">用于将质量百分比浓度转换成摩尔浓度</span>。
        </label>
    </div>

    <p v-if="errors.length">
        <b>请修正以下错误:</b>
        <ul>
            <li v-for="error in errors" style="color:red">{{ error }}</li>
        </ul>
    </p>

    <!-- option1 -->
    <div class="form-horizontal">
        <!-- 质量分数 -->
        <div class="form-group">
            <label for="mws" class="col-sm-1 col-xs-3 form-label">质量分数</label>
            <div class="col-sm-11 col-xs-9">
                <!-- https://blog.csdn.net/yunhuaikong/article/details/96868171 -->
                <!-- https://codepen.io/mbranicky/pen/ymbQNQ -->
                <v-select label="name" :options="mw_opts" v-model="mws" push-tags taggable :create-option="tag => ({name: tag, value: parseFloat(tag)})">
                    <span slot="no-options">没有找到相关物质！</span>
                </v-select>
            </div>
        </div>

        <!-- 溶质质量 -->
        <div class="form-group" v-if="r_status == 'option2'">
            <label for="quality" class="col-sm-1 col-xs-3 form-label">溶质质量</label>
            <div class="col-sm-11 col-xs-9">
                <div class="input-group">
                    <input type="text" class="form-control" id="quality" v-model="quality">
                    <div class="input-group-addon">g</div>
                </div>
            </div>
        </div>

        <!-- 摩尔浓度 -->
        <div class="form-group" v-if="r_status == 'option1' || r_status == 'option2'">
            <label for="concentration" class="col-sm-1 col-xs-3 form-label">浓度</label>
            <div class="col-sm-11 col-xs-9">
                <div class="input-group">
                    <input type="text" class="form-control" id="concentration" v-model="concentration" v-on:keyup.enter="calc">
                    <!-- <div class="input-group-addon">M</div> -->
                    <div class="input-group-btn">
                        <select class="select-concentration-unit" v-model="select_concentration_unit" v-if="r_status == 'option1' || r_status == 'option2'">
                            <option value="1">M</option>
                            <option value="0.001" selected>mM</option>
                            <option value="0.000001">μM</option>
                            <option value="0.000000001">nM</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <!-- 密度 -->
        <div class="form-group" v-if="r_status == 'option3'">
            <label for="density" class="col-sm-1 col-xs-3 form-label">密度</label>
            <div class="col-sm-11 col-xs-9">
                <div class="input-group">
                    <input type="text" id="density" class="form-control" v-model="density">  
                    <div class="input-group-addon">g/mL</div>                  
                </div>
            </div>
        </div>

        <!-- 质量百分比 -->
        <div class="form-group" v-if="r_status == 'option4' || r_status == 'option3'">
            <label for="weight_percent" class="col-sm-1 col-xs-3 form-label">质量百分比</label>
            <div class="col-sm-11 col-xs-9">
                <div class="input-group">
                    <input type="text" class="form-control" id="weight_percent" v-model="weight_percent" v-on:keyup.enter="calc">
                    <div class="input-group-addon">wt %</div>
                </div>
            </div>
        </div>

        <!-- 计算按钮 -->
        <div class="text-right">
            <button type="submit" class="btn btn-primary" v-on:click="calc">计算</button>
        </div>

        <!-- 选项1的结果 -->
        <table class="table table-striped table-bordered" v-if="option1_rows.length" style="margin-top:15px">
            <thead class="thead-light">
                <tr>
                    <td scope="col">体积</td>
                    <td scope="col">重量</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="row in option1_rows" scope="row">
                    <td>{{ row.volume }}</td>
                    <td>{{ row.weight }}</td>
                </tr>
            </tbody>
        </table>

        <!-- 选项2的结果 -->
        <table class="table table-striped table-bordered" v-if="option2_rows.length" style="margin-top:15px">
            <thead class="thead-light">
                <tr>
                    <td scope="col">溶质质量</td>
                    <td scope="col">水的体积</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="row in option2_rows" scope="row">
                    <td>{{ row.weight }}</td>
                    <td>{{ row.volume }}</td>
                </tr>
            </tbody>
        </table>

        <!-- 选项3的结果 -->
        <table class="table table-striped table-bordered" v-if="option3_rows.length" style="margin-top:15px">
            <thead class="thead-light">
                <tr>
                    <td scope="col">质量百分比</td>
                    <td scope="col">摩尔浓度</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="row in option3_rows" scope="row">
                    <td>{{ row.wp }}</td>
                    <td>{{ row.mc }}</td>
                </tr>
            </tbody>
        </table>

        <!-- 选项4的结果 -->
        <table class="table table-striped table-bordered" v-if="option4_rows.length" style="margin-top:15px">
            <thead class="thead-light">
                <tr>
                    <td scope="col">质量百分比</td>
                    <td scope="col">摩尔浓度</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="row in option4_rows" scope="row">
                    <td>{{ row.wp }}</td>
                    <td>{{ row.mc }}</td>
                </tr>
            </tbody>
        </table>
    </div>
 </div>
 <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.12.2/dist/js/bootstrap-select.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/vue-select@3.10.3/dist/vue-select.min.js"></script>
 <!-- 搜索分子的摩尔重量：https://pubchem.ncbi.nlm.nih.gov/compound/N-Vinyl-2-pyrrolidone -->
 <script type="text/JavaScript">
    Vue.component('v-select', VueSelect.VueSelect);
    var vm = new Vue({
        el:'#app',
        data: {
            select_concentration_unit:'0.001',
            quality:'',
            r_status: 'option1',
            option1_rows: [],
            option2_rows: [],
            option3_rows: [],
            option4_rows: [],
            errors: [],
            concentration:'',
            weight_percent:'',
            density:'',
            mws: {name: '四水合氯金酸(411.97)', value: 411.97},
            mw_opts: [
                {name: '四水合氯金酸(411.97)', value: 411.97},
                {name: '三水合氯金酸(393.83)', value: 393.83},
                {name: 'CTAB(364.45)', value: 364.45},
                {name: 'CTAC(320.00)', value: 320.00},
                {name: '硼氢化钠(NaBH4, 37.83)', value: 37.83},
                {name: 'PVP((C6H9NO)n, 111.14)', value: 111.14},
                {name: 'AA(176.12)', value: 176.12},
                {name: '硝酸银(169.87)', value: 169.87},
                {name: '硫酸(98.078)', value: 98.078},
                {name: '硝酸(63.01)', value: 63.01},
                {name: '盐酸(36.5)', value: 36.5},
                {name: '辛胺(129.24)', value: 129.24},
                {name: '氨水(NH4OH, 17.031)', value: 17.031},
                {name: '半胱氨酸(Cysteine, 121.02)', value: 121.02},
                {name: 'L-谷胱甘肽(还原, L-GSH, 307.33)', value: 307.33},
                {name: 'D-谷胱甘肽(氧化, D-GSH, 612.63)', value: 612.63},
                {name: '二水合柠檬酸钠(Na3C6H5O7, 294.1)', value: 294.1},
                {name: '单宁酸(Tannic acid, 1701.2)', value: 1701.2},
                {name: '无水硝酸铁(Fe(NO3)3, 241.86)', value: 241.86},
                {name: '正硅酸乙酯(TEOS, 208.33)', value: 208.33},
                {name: '罗丹明6G(R6G, 442.5494)', value: 442.5494},
                {name: '溴化钠(NaBr, 102.89)', value: 102.89},
                {name: '氢氧化钠(NaOH, 39.99711)', value: 39.99711},
                {name: '碘化钾(KI, 166.00)', value: 166.00},
                {name: '六水硝酸锌(Zn(NO3)2, 297.49)', value: 297.49},
                {name: '二硫化四甲基秋兰姆、福美双(Thiram, 240.43)', value: 240.43}
            ]
        },
        methods:{
            calc:function(e){
                this.errors = [];
                this.option1_rows = [];
                this.option2_rows = [];
                this.option3_rows = [];
                this.option4_rows = [];
                var cm = parseFloat(this.select_concentration_unit);
                var q = parseFloat(this.mws.value);

                // NaN为数字
                if(isNaN(q)){
                    this.errors.push('物质的质量分数必须为数字！');
                }

                if (this.r_status == 'option1'){
                    if (!this.concentration) {
                        this.errors.push('浓度不可以为空！');
                    }

                    if (this.errors.length) {
                        return;
                    }

                    var c = parseFloat(this.concentration) * cm;
                    // 0.2代表0.2 ml
                    var max_mass = 0.2 * q * c;
                    var volumes = [5, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 150, 200, 300, 500, 1000];

                    for (let index = 0; index < volumes.length; index++) {
                        const volume = volumes[index];
                        var w = max_mass*volume/200
                        this.option1_rows.push({
                            volume: volume + ' mL',
                            weight: w.toFixed(5) + ' g'
                        });
                    }
                }

                if (this.r_status == 'option2'){
                    if (!this.concentration) {
                        this.errors.push('浓度不可以为空！');
                    }

                    if(!this.quality){
                        this.errors.push('质量不可以为空！');
                    }

                    if (this.errors.length) {
                        return;
                    }

                    var c = parseFloat(this.concentration) * cm;
                    var m = parseFloat(this.quality);
                    var v = 1000*m/(q * c);

                    this.option2_rows.push({
                        weight: m + ' g',
                        volume: v.toFixed(4) + ' mL'
                    });
                }

                if (this.r_status == 'option3'){
                    if (!this.density) {
                        this.errors.push('密度不可以为空！');
                    }
                    if (!this.weight_percent) {
                        this.errors.push('质量百分比不可以为空！');
                    }

                    if (this.errors.length) {
                        return;
                    }

                    var rho = parseFloat(this.density);
                    var wp = parseFloat(this.weight_percent);
                    var mc = 10*wp*rho/q;
                    var mcf = mc.toFixed(4) + ' M';

                    if (mc < 1){
                        mcf = (mc*1000).toFixed(4) + ' mM';
                    }

                    this.option3_rows.push({
                        wp: wp + ' wt%',
                        mc: mcf
                    });
                    
                }

                if (this.r_status == 'option4'){
                    if (!this.weight_percent) {
                        this.errors.push('质量百分比不可以为空！');
                    }

                    if (this.errors.length) {
                        return;
                    }

                    var ratio = parseFloat(this.weight_percent);
                    var mc = ratio*10/q;
                    var mcf = mc.toFixed(4) + ' M';
                    if (mc < 1){
                        mcf = (mc*1000).toFixed(4) + ' mM';
                    }

                    this.option4_rows.push({
                        wp: ratio + ' wt%',
                        mc: mcf
                    });
                    
                }

                e.preventDefault();
            }
        }
    });
    $(function() {
        $('select').selectpicker();
    })
 </script>
</body>
</html>
