<div class="container-fluid">
    <div class="row-fluid">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.name }}</a>
              </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{ site.baseurl }}/">主页</a></li>
                    <li class="active"><a href="{{ site.pageurl }}/archive.html">归档</a></li>
                    <li class="active"><a href="{{ site.pageurl }}/links.html">外链</a></li>
                    <li class="active"><a href="{{ site.pageurl }}/papers.html">论文</a></li>
                    <li class="active"><a href="{{ site.baseurl }}/gallery/">图集</a></li>
                    <li class="active"><a href="{{ site.pageurl }}/tools.html" target="_blank">工具</a></li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Code <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu" role="menu">
                        {% if site.gitlab != '' %}
                          <li><a class="dropdown-item" target="_blank" href="https://gitlab.com/{{ site.gitlab }}">Gitlab</a></li>
                        {% endif %}
                        {% if site.github != '' %}
                          <li><a class="dropdown-item" target="_blank" href="https://github.com/{{ site.github }}">Github</a></li>
                        {% endif %}
                        {% if site.gitee != '' %}
                          <li><a class="dropdown-item" target="_blank" href="https://gitee.com/{{ site.gitee }}">码云</a></li>
                        {% endif %}
                        {% if site.coding != '' %}
                          <li><a class="dropdown-item" target="_blank" href="{{ site.coding }}">Coding</a></li>
                        {% endif %}
                      </ul>
                    </li>
                    <li class="active"><a href="{{ site.pageurl }}/about.html">关于</a></li>
                    <li class="active"><a href="{{ site.baseurl }}/feed.xml">RSS</a></li>
                </ul>
              </div>
        </div>
    </div>
</div>
  