<link href="{{ site.cdn.css }}/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="{{ site.cdn.css }}/syntax.css" rel="stylesheet" type="text/css">
<link href="{{ site.url }}/css/theme.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{{ site.cdn.katex }}/katex.min.css">
<script src="{{ site.cdn.katex }}/katex.min.js"></script>
<script src="{{ site.cdn.katex }}/contrib/mhchem.min.js"></script>
<script src="{{ site.cdn.katex }}/contrib/auto-render.min.js"></script>
<script src="{{ site.cdn.js }}/jquery.min.js"></script>
<script src="{{ site.cdn.js }}/bootstrap.min.js"></script>
<script src="{{ site.url }}/js/app.js"></script>