---
layout: single
---

<article class="archive">
    {%for post in site.posts %}
        {% unless post.next %}
            <h1 class="archive-year">{{ post.date | date: '%Y' }}</h1>
            <hr/>
            <ul class="archive-list">
        {% else %}
            {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
            {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
            {% if year != nyear %}
                </ul>
                <h1>{{ post.date | date: '%Y' }}</h1>
                <hr/>
                <ul class="archive-list">
            {% endif %}
        {% endunless %}
        <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.date | date: "%m/%d" }} - {{ post.title }}</a></li>
    {% endfor %}
    </ul>
</article>
