---
layout: page
title: 搜索
icon: search
---

<!-- 引入搜索 -->
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/flexsearch.bundle.js"></script>

<div id="app">
  <input type="text" class="form-control" @keyup.enter="search" v-model="queryWords" placeholder="搜索" >
  <div v-if="results.length != 0">
    <br/>
    <div class="result-item" v-for="result in results" :key="result.id">
      <a :href="result.url" class="result-title"><h4>${ result.title }$</h4></a>
      <div>${ result.url }$</div>
      <p>${ getSummary(result.body, 160) }$</p>
    </div>
  </div>
</div>

<script type="">
  const { createApp, ref } = Vue
  {% assign counter = 0 %}
  var documents = [
  {%- for page in site.posts -%}
      {
        "id": {{ counter }},
        "url": "{{ site.url }}{{ page.url }}",
        "title": "{{ page.title }}",
        "body": "{{ page.date | date: '%Y/%m/%d' }} - {{ page.content | markdownify | strip_html | replace: '\', '\\' }}"
        {% assign counter = counter | plus: 1 %}
      }
      {% unless forloop.last %},{% endunless %}
  {%- endfor -%}];

  // create index
  const idx = new FlexSearch.Document({
      cache: 100,
      document: {
          id: "id",
          index: ["title", "body"]
      },
      tokenize: 'full', 
      resolution: 5,
      encode: str => str.trim().toLowerCase().split(/[\p{Z}\p{S}\p{P}\p{C}]+/u)
  });
  
  documents.forEach( doc => idx.add(doc));
  
  createApp({
    delimiters: ["${", "}$"],
    setup() {
      const queryWords = ref('');
      const results = ref([]);
      import {posts} from '/js/data.js'
      console.log(posts);

      function search(){
        results.value = [];
        let indexs = [];
        const data = idx.search(queryWords.value);
        for(var i = 0; i < data.length; i++){
          indexs.push(...data[i]['result'])
        }
        const uniqueIndexs = indexs.filter(onlyUnique);
        uniqueIndexs.forEach( v => results.value.push(documents[v]));
      }

      function onlyUnique(value, index, array) {
        return array.indexOf(value) === index;
      }

      function getSummary(str, n) {
        var r = /[^\x00-\xff]/g;
        if (str.replace(r, "mm").length <= n) { return str; }
        var m = Math.floor(n / 2);
        for (var i = m; i < str.length; i++) {
          if (str.substr(0, i).replace(r, "mm").length >= n) {
            return str.substr(0, i) + "...";
          }
        }
        return str;
      }

      // 使用setup创建的必须全局返回
      return {
        queryWords,
        results,
        search,
        getSummary
      }
    }
  }).mount('#app')
</script>
