<!DOCTYPE html>
<html lang="en">

<!-- 
yaml包含title
icon，这个应该参考：https://www.runoob.com/bootstrap/bootstrap-glyphicons.html
-->
<head>
    <meta charset="UTF-8">
    <title>
      {% if page.title %}
        {{ site.name }}-{{ page.title }}
      {% else %}
        {{ site.name }}
      {% endif %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include source.html %}
    {% include isso-comments.html %}
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>

<div class="wrapper app">
    {% include nav.html %}
    <div class="main container container-center">
        <div class="row">
            <div class="col-md-12">
              <article>
               {% if page.icon %}
                   <h1><i class="glyphicon glyphicon-search"></i> 搜索</h1>
               {% else %}
                   <h1>搜索</h1>
               {% endif %}
                <hr/>
                <input type="text form-control" v-model="qw" @keyup.enter="search" placeholder='搜索'>
            </article>
            </div>
        </div>
    </div>
</div>

<script>
  const { createApp, ref } = Vue
  createApp({
    setup() {
      const qw = ref('')

      function search(){
        console.log(`The query research is : ${qw}`);
      }
      return {
        qw
      }
    }
  }).mount('#app')
</script>

{% include footer.html %}


