<!DOCTYPE html>
<html lang="en">

<!-- 
yaml包含title
icon，这个应该参考：https://www.runoob.com/bootstrap/bootstrap-glyphicons.html
-->
<head>
    <meta charset="UTF-8">
    <title>
      {% if page.title %}
        {{ site.name }}-{{ page.title }}
      {% else %}
        {{ site.name }}
      {% endif %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include source.html %}
    {% include isso-comments.html %}
</head>

<body>

<div class="wrapper">
    {% include nav.html %}
    <div class="main container container-center">
        <div class="row">
          <article>
            {% if page.icon %}
                <h1><i class="glyphicon glyphicon-{{ page.icon }}"></i> {{ page.title }}</h1>
            {% else %}
                <h1>{{ page.title }}</h1>
            {% endif %}
              <hr/>
              {{ content }}
          </article>
        </div>
    </div>
</div>

{% include footer.html %}
